@use 'variables';

.footer {
  text-align: center;
  color: variables.$text-color-light;
  font-size: 0.875rem;
  border-top: 1px solid variables.$border-color;
  margin-top: variables.$spacing * 2;
  max-width: variables.$page-max-width;
  padding: variables.$spacing variables.$spacing * 2;
}
